img {
  margin-right: 10px;
}
.cart-container {
  margin-top: 20px;
  display: flex;
}

.card {
  padding: 20px;
  width: 70%;
}
.order-delivery {
  width: 60%;
  margin-right: 10px;
}
.pd-name {
  font-size: 70%;
  font-weight: 700;
}
