img {
  margin-right: 10px;
}
.cart-container {
  margin-top: 20px;
  display: flex;
}

.card {
  padding: 20px;
  width: 70%;
}
.order-delivery {
  width: 60%;
  margin-right: 10px;
}
.pd-name {
  font-size: 70%;
  font-weight: 700;
}

.ship-form{
  margin:30px 100px;
}
.ship-form input {
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}
.error{
  color: red;
}